In [1]:
import pandas as pd
import numpy as np
import glob

%matplotlib inline

In [2]:
pwd

'/Users/jseemayer/Documents/Me/Metis/mta-project-1'

In [3]:
ls

CSVs/                     README.md                 turnstile_190504.csv
Josef_MTA_Workbook.ipynb  Remote-Booth-Station.xls  turnstile_190511.csv
Proj1.ipynb               patrick_notebook.ipynb

In [4]:
cd CSVs

/Users/jseemayer/Documents/Me/Metis/mta-project-1/CSVs

In [5]:
ls

turnstile_190406.txt  turnstile_190504.txt  turnstile_190601.txt
turnstile_190413.txt  turnstile_190511.txt  turnstile_190608.txt
turnstile_190420.txt  turnstile_190518.txt  turnstile_190615.txt
turnstile_190427.txt  turnstile_190525.txt

In [6]:
#df1 = pd.read_csv('turnstile_190406.txt')
#df2 = pd.read_csv('turnstile_190413.txt')
#df3 = pd.read_csv('turnstile_190420.txt')
#df4 = pd.read_csv('turnstile_190427.txt')
#df5 = pd.read_csv('turnstile_190504.txt')
#df6 = pd.read_csv('turnstile_190511.txt')
#df7 = pd.read_csv('turnstile_190518.txt')
#df8 = pd.read_csv('turnstile_190525.txt')
#df9 = pd.read_csv('turnstile_190601.txt')
#df10 = pd.read_csv('turnstile_190608.txt')
#df11 = pd.read_csv('turnstile_190615.txt')
#data = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11], ignore_index=True)
#data

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/30/2019,00:00:00,REGULAR,6999064,2373568
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/30/2019,04:00:00,REGULAR,6999084,2373576
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/30/2019,08:00:00,REGULAR,6999107,2373622
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/30/2019,12:00:00,REGULAR,6999214,2373710
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,03/30/2019,16:00:00,REGULAR,6999451,2373781
...,...,...,...,...,...,...,...,...,...,...,...
2250803,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/14/2019,05:00:00,REGULAR,5554,379
2250804,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/14/2019,09:00:00,REGULAR,5554,379
2250805,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/14/2019,13:00:00,REGULAR,5554,379
2250806,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/14/2019,17:00:00,REGULAR,5554,379
2250807,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,06/14/2019,21:00:00,REGULAR,5554,379

In [16]:
extension = 'txt'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]


#combine all files in the list
data = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
#data.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

In [15]:
data

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/11/2019,00:00:00,REGULAR,7053483,2390505
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/11/2019,04:00:00,REGULAR,7053511,2390508
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/11/2019,08:00:00,REGULAR,7053534,2390536
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/11/2019,12:00:00,REGULAR,7053618,2390596
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,05/11/2019,16:00:00,REGULAR,7053841,2390655
...,...,...,...,...,...,...,...,...,...,...,...
206852,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/03/2019,05:00:00,REGULAR,5554,376
206853,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/03/2019,09:00:00,REGULAR,5554,376
206854,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/03/2019,13:00:00,REGULAR,5554,376
206855,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/03/2019,17:00:00,REGULAR,5554,376
206856,TRAM2,R469,00-05-01,RIT-ROOSEVELT,R,RIT,05/03/2019,21:00:00,REGULAR,5554,376